.icon-48-backups {
      background-image: url(../images/l_backups.png);
      padding-left:60px!important;
}

.icon-48-backup {
      background-image: url(../images/l_backups.png);
      padding-left:60px!important;
}

